
nav{
    padding: 0px;
    position: fixed;
    width: 100%;
    z-index: 99999;
}

.navbar {
    display: flex;
    margin: 0;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #85B5ED;
   
}

.logo {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 18vw;
    height: 7vh;
    background-color: white;
    gap: 10px;
    border-radius: 30px;
    box-shadow: -5px -35px 80px 30px rgba(255, 255, 255, 0.336);
}

.logo img {
    width: 50px;
    height: 40px;
}

.logo p {
    font-size: 15px;
    font-weight: 700;
    opacity: 0.75;
}

.menu {
    margin-right: 100px;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.menu li a {
    text-decoration: none;
    color: #0A2647;
    opacity: 0.75;
    font-weight: 500;
}

.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
   }
   
   .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #AACFFB;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
        box-shadow: -5px -35px 80px 70px #aacefb87;

   }
   
   .cta span {
    position: relative;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
   }
   
   .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
   .cta:hover:before {
    width: 100%;
    background: #AACFFB;
   }
   
   .cta:hover svg {
    transform: translateX(0);
   }
   
   .cta:active {
    transform: scale(0.95);
   }

/* .login button {
    width: 10vw;
    height: 5vh;
    border-radius: 15px;
    border: none;
    font-size: 16px;
    background-color: white;
    cursor: pointer;
    font-weight: 600;
    opacity: 0.80;
    box-shadow: -5px -35px 80px 90px rgba(255, 255, 255, 0.336);

} */