* {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;

}

a {
    text-decoration: none;
}

body {
    background-color: #85B5ED;
    margin: 0;
}

.container {
    padding: 80px 70px;
    display: flex;
    gap: 30px;
}

.left-side {
    position: fixed;
    width: 320px;
    background-color: #85B5ED;
}

.back {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #0A2647;
}

.back button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    padding: 0;
    margin-top: 5px;
}

.back p {
    font-size: 20px;
    font-weight: 600;
}

.profile {
    margin-top: 10px;
}

.card {
    width: 300px;
    height: 380px;
    background: #AACFFB;
    transition: all 1s;
    border-radius: 10px;
    box-shadow: 5px -25px 80px 10px rgba(255, 255, 255, 0.336);

}

.card:hover {
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.1);
    background: #AACFFB;
}

.first-content {
    height: 100%;
    width: 100%;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    border-radius: 15px;
    flex-direction: column;
    color: #0A2647;
}

.pp {
    width: 150px;
    height: 150px;
    background-color: transparent;
    border: 4px solid #85B5ED;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pp img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    background-color: #0A2647;
}

.nama {
    font-size: 20px;
    font-weight: 800;
}

.kelas {
    font-size: 16px;
    font-weight: 600;
    margin-top: -10px;
}

.card:hover .first-content {
    height: 0px;
    opacity: 0;
}

.second-content {
    padding: 20px 30px;
    height: 0%;
    width: 90%;
    opacity: 0;
    gap: 5px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    border-radius: 15px;
    transition: all 0.4s;
    font-size: 0px;
    transform: rotate(0deg) scale(-1);
}

.second-content p:first-child {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: 600;
    opacity: 0.7;
}

.second-content p:last-child {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
}



.card:hover .second-content {
    opacity: 1;
    height: 0%;
    transform: rotate(0deg);
}

.edit-profile {
    width: 300px;
    height: 45px;
    background-color: #AACFFB;
    border-radius: 15px;
    border: none;
    margin-top: 25px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 5px -5px 80px 5px rgba(255, 255, 255, 0.336);

}

.right-side {
    margin-left: 350px;
    width: 100%;
}

.schedule-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.schedule .titles p:first-child {
    font-size: 25px;
    color: #0A2647;
    font-weight: 700;
}

.schedule .titles p:last-child {
    font-size: 15px;
    color: #0A2647;
    font-weight: 500;
    margin-top: -30px;
}

.date-picker input {
    background-color: #0A2647;
    color: white;
    font-weight: 500;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
}

.date-picker input::-webkit-calendar-picker-indicator {
    filter: invert(100%);

}

td {
    width: 110px;
    height: 60px;
    text-align: center;
}

table {
    border-collapse: collapse;
}

.bbt {
    border-bottom: 1px solid black;
}

td:first-child {
    opacity: 0.6;
    font-weight: 600;
}

tr:first-child {
    opacity: 0.6;
    font-weight: 600;
}

.private-header p:first-child {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 700;
}

.private-header p:last-child {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
    opacity: 0.7;
}

.private-conseling {
    margin-top: 20px;
}

.private-body {
    display: flex;
    gap: 30px;
    margin-top: 15px;
}

.view-private {
    width: 400px;
    height: 140px;
    background-color: #AACFFB;
    border-radius: 10px;
    transition: all 0.5s;
    display: flex;
    gap: 15px;
    justify-content: start;
    padding: 0px 30px;
    align-items: center;
}

.view-private:hover {
    transform: scale(1.05);
}

.view-private:active {
    transform: scale(0.95) rotateZ(1.7deg);
}

.view-private-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #85B5ED;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-private-icon img {
    width: 60px;
}

.view-private-text {
    width: 230px;
    color: #0A2647;
}

.view-private-text p:first-child {
    font-size: 18px;
    font-weight: 700;
}

.view-private-text p:last-child {
    font-size: 16px;
    font-weight: 500;
    margin-top: -15px;
}


.input-private {
    width: 400px;
    height: 140px;
    background-color: #AACFFB;
    border-radius: 10px;
    transition: all 0.5s;
    display: flex;
    gap: 15px;
    justify-content: start;
    padding: 0px 30px;
    align-items: center;
}

.input-private:hover {
    transform: scale(1.05);
}

.input-private:active {
    transform: scale(0.95) rotateZ(1.7deg);
}

.input-private-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #85B5ED;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-private-icon img {
    width: 60px;
}

.input-private-text {
    width: 230px;
    color: #0A2647;
}

.input-private-text p:first-child {
    font-size: 18px;
    font-weight: 700;
}

.input-private-text p:last-child {
    font-size: 16px;
    font-weight: 500;
    margin-top: -15px;
}



.study-header p:first-child {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 700;
}

.study-header p:last-child {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
    opacity: 0.7;
}

.study-conseling {
    margin-top: 20px;
}

.study-body {
    display: flex;
    gap: 30px;
    margin-top: 15px;
}

.view-study {
    width: 400px;
    height: 140px;
    background-color: #AACFFB;
    border-radius: 10px;
    transition: all 0.5s;
    display: flex;
    gap: 15px;
    justify-content: start;
    padding: 0px 30px;
    align-items: center;
}

.view-study:hover {
    transform: scale(1.05);
}

.view-study:active {
    transform: scale(0.95) rotateZ(1.7deg);
}

.view-study-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #85B5ED;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-study-icon img {
    width: 60px;
}

.view-study-text {
    width: 230px;
    color: #0A2647;
}

.view-study-text p:first-child {
    font-size: 18px;
    font-weight: 700;
}

.view-study-text p:last-child {
    font-size: 16px;
    font-weight: 500;
    margin-top: -15px;
}


.input-study {
    width: 400px;
    height: 140px;
    background-color: #AACFFB;
    border-radius: 10px;
    transition: all 0.5s;
    display: flex;
    gap: 15px;
    justify-content: start;
    padding: 0px 30px;
    align-items: center;
}

.input-study:hover {
    transform: scale(1.05);
}

.input-study:active {
    transform: scale(0.95) rotateZ(1.7deg);
}

.input-study-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #85B5ED;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-study-icon img {
    width: 60px;
}

.input-study-text {
    width: 230px;
    color: #0A2647;
}

.input-study-text p:first-child {
    font-size: 18px;
    font-weight: 700;
}

.input-study-text p:last-child {
    font-size: 16px;
    font-weight: 500;
    margin-top: -15px;
}






.social-header p:first-child {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 700;
}

.social-header p:last-child {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
    opacity: 0.7;
}

.social-conseling {
    margin-top: 20px;
}

.social-body {
    display: flex;
    gap: 30px;
    margin-top: 15px;
}

.view-social {
    width: 400px;
    height: 140px;
    background-color: #AACFFB;
    border-radius: 10px;
    transition: all 0.5s;
    display: flex;
    gap: 15px;
    justify-content: start;
    padding: 0px 30px;
    align-items: center;
}

.view-social:hover {
    transform: scale(1.05);
}

.view-social:active {
    transform: scale(0.95) rotateZ(1.7deg);
}

.view-social-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #85B5ED;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-social-icon img {
    width: 60px;
}

.view-social-text {
    width: 230px;
    color: #0A2647;
}

.view-social-text p:first-child {
    font-size: 18px;
    font-weight: 700;
}

.view-social-text p:last-child {
    font-size: 16px;
    font-weight: 500;
    margin-top: -15px;
}


.input-social {
    width: 400px;
    height: 140px;
    background-color: #AACFFB;
    border-radius: 10px;
    transition: all 0.5s;
    display: flex;
    gap: 15px;
    justify-content: start;
    padding: 0px 30px;
    align-items: center;
}

.input-social:hover {
    transform: scale(1.05);
}

.input-social:active {
    transform: scale(0.95) rotateZ(1.7deg);
}

.input-social-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #85B5ED;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-social-icon img {
    width: 60px;
}

.input-social-text {
    width: 230px;
    color: #0A2647;
}

.input-social-text p:first-child {
    font-size: 18px;
    font-weight: 700;
}

.input-social-text p:last-child {
    font-size: 16px;
    font-weight: 500;
    margin-top: -15px;
}



.career-header p:first-child {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 700;
}

.career-header p:last-child {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
    opacity: 0.7;
}

.career-conseling {
    margin-top: 20px;
}

.career-body {
    display: flex;
    gap: 30px;
    margin-top: 15px;
}

.view-career {
    width: 400px;
    height: 140px;
    background-color: #AACFFB;
    border-radius: 10px;
    transition: all 0.5s;
    display: flex;
    gap: 15px;
    justify-content: start;
    padding: 0px 30px;
    align-items: center;
}

.view-career:hover {
    transform: scale(1.05);
}

.view-career:active {
    transform: scale(0.95) rotateZ(1.7deg);
}

.view-career-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #85B5ED;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-career-icon img {
    width: 60px;
}

.view-career-text {
    width: 230px;
    color: #0A2647;
}

.view-career-text p:first-child {
    font-size: 18px;
    font-weight: 700;
}

.view-career-text p:last-child {
    font-size: 16px;
    font-weight: 500;
    margin-top: -15px;
}


.input-career {
    width: 400px;
    height: 140px;
    background-color: #AACFFB;
    border-radius: 10px;
    transition: all 0.5s;
    display: flex;
    gap: 15px;
    justify-content: start;
    padding: 0px 30px;
    align-items: center;
}

.input-career:hover {
    transform: scale(1.05);
}

.input-career:active {
    transform: scale(0.95) rotateZ(1.7deg);
}

.input-career-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #85B5ED;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-career-icon img {
    width: 60px;
}

.input-career-text {
    width: 230px;
    color: #0A2647;
}

.input-career-text p:first-child {
    font-size: 18px;
    font-weight: 700;
}

.input-career-text p:last-child {
    font-size: 16px;
    font-weight: 500;
    margin-top: -15px;
}

.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(to right, #834d9b, #d04ed6);
    background: linear-gradient(to right, #834d9b, #d04ed6);
}

.modal {
    z-index: 999999;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
    transition: all .4s;

}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.modal__content {
    border-radius: 10px;
    position: relative;
    width: 500px;
    max-width: 90%;
    background: #fff;
    padding: 20px 30px;
}

.modal-header {
    line-height: 5px;
    padding-bottom: 3px;
    border-bottom: 2px solid #00000043;
}

.modal-header p:first-child {
    font-size: 20px;
    font-weight: 700;
}

.modal-header p:last-child {
    font-size: 15px;
    font-weight: 500;
    opacity: 0.7;

}

.modal-body {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    line-height: 0px;
}

.title p {
    font-weight: 600;
    opacity: 0.5;
    font-size: 14px;
}

.title input {
    width: 470px;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.418);
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}


.modal-footer a {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 250px;
    height: 35px;
    background-color: #85B5ED;
    font-weight: 500;
    color: white;
    font-size: 14px;
}

.modal-footer a:first-child{
  background-color: #E22222;
}

.topic {
  line-height: 0px;
}

.topic p {
  font-weight: 600;
  opacity: 0.5;
  font-size: 14px;
}

.topic textarea {
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.418);
}

